@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e78696bf, rgba(199, 31, 199, 0.812));
  padding: 10%;
}

h1 {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 2.5rem;
  color: #1e1e1e;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3%;
  grid-auto-rows: minmax(0 5%);
  border: 2px solid #1e1e1e;
  padding: 5%;
  margin: 10%;
  height: 500px;
  width: 500px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #d6d6d6;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: rgb(228, 228, 228);
  font-weight: bold;
  transition: 0.3s;
}

div:hover {border: 1px solid #d6d6d6;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #d6d6d6;
  transition: 0.3s;
}